body{font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:18px;color:#484e41;margin:0;padding:0}
#wrapper{margin:0 auto;padding:0;width:960px}
.contents{background-color:#fff}
.contents a{text-decoration:none;color:#484e41;font-weight:bold}
.contents a:hover{text-decoration:underline}
img{border:0}
img.logo{margin-bottom:40px}
#home .preview{margin-left:320px;width:460px;padding:0 10px}
#home .thumbnails{width:140px;padding:0 10px;float:right}
#home .thumbnail{margin-bottom:40px}
#home .contents{width:280px;padding:0 30px 0 10px;float:left}
#projects .preview{float:left;width:440px}
#projects .thumbnails{width:140px;padding:0 10px;float:right}
#projects .thumbnail{margin-bottom:40px}
#projects .contents{margin-left:440px;width:320px;min-height:620px;padding:0 20px}
#biography .thumbnails{width:960px;padding:0 10px;min-height:160px;padding:40px}
#biography .thumbnail{float:left;width:140px}
#contact .thumbnails{width:480px;float:left}
#contact .thumbnail{margin-bottom:20px;width:120px;min-height:163px}
#contact .contents{margin-left:480px;width:420px;padding:0 10px}
#contact label{display:block;width:400px;font-weight:bold;color:#484e41}
#contact label.error{text-align:right;font-style:italic;color:#fabb00}
#contact input,textarea{width:400px;margin-bottom:6px;background-color:#484e41;color:#fff;border:0}
#contact input[type="submit"]{background-color:#fabb00;width:auto;font-weight:bold}
.initial{font-family: Times, Arial, sans-serif;font-size:18px}
.clearer{clear: both;height: 1px;padding: 0px;margin: 0px;}
#footer{background-color:#484e41;color:#fff;font-weight:bold;margin-top:20px;padding:2px 10px;font-size:8pt;text-align:center}
#menu{height:80px;margin-left:290px}
#menu ul{margin:0;padding:0;height:40px;white-space:nowrap}
#menu ul li{margin-left:40px;display:block;float:left;text-align:left;height:40px;width:120px}
#menu ul li a{color:#fff;background-color:transparent;text-decoration:none;padding:30px 0 0 4px;border-top:1px solid #fff;border-right:1px solid #fff;font-size:10pt;font-weight:bold;display:block}
#menu ul li a:link,#menu ul li a:visited{background-color:#484e41}
#menu ul li a:hover,#menu ul li a:active{background-color:#484e41}
#menu ul li.active a:hover,#menu ul li.active a:active,#menu ul li.active a:link,#menu ul li.active a:visited{background-color: #fabb00}
